@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    background-color: white;
    width: 100vw;
    height: 100vh;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.logo {
    width: 300px;
    height: 300px;
}

.im {
    padding-left: 100px;
    padding-right: 100px;
}

.name {
    position: relative;
    text-align: center;
    font-size: 42px;
    font-weight: 750;
    color: #0C8CE9;
}

.download {
    width: 100%;
    background-color: #0C8CE9;
    color: white;
    border: 3px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    padding: 13px 24px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.4s;
}

.download:hover {
    background: none;
    border: 3px solid #0C8CE9;
    color: #0C8CE9;
}